* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffe5ba;
    justify-content: space-between;
}

header {
  background-color: #D5BC90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 16px;
  color: #231F12;
}

.logo {
    margin-left: 11.5vw;
}

.return {
    color: #231F12;
    text-decoration: none;
    margin-right: 11.5vw;
}

.return:hover {
    text-decoration: underline;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 40px 80px;
}

.wrapper {
  width: 400px;
  background: #231F12;
  color: #FFE5BA;
  border-radius: 16px;
  padding: 30px 40px;
}


.wrapper h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  margin: 10px 0 20px;
}

.input-box input {
  width: 100%;
  height: 48px;
  background: #D5BC90;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  padding: 0 20px;
  color: #231F12;
}

.input-box input::placeholder {
color: #231F12;
}

.wrapper label {
  font-size: 14px;
  color: #D5BC90;
    /*display: flex;
    justify-content: space-between;
    font-size: 0.875rem; 
    margin: -0.9375rem 0 0.9375rem;
    padding-left: 0.5rem;
    padding-top: 0.625rem;*/
}

.remember-forgot label input {
    accent-color: #D5BC90;
    margin-right: 0.1875rem; /* ~3px */
}

.remember-forgot a {

    color: #D5BC90;
    text-decoration: none;
    padding-right: 0.5rem; /* ~8px */
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 10rem; /* ~172px */
    height: 2.5rem; /* ~40px */
    background: #FFE5BA;
    border: none;
    outline: none;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1.75rem; /* ~28px */
    color: #333;
    font-weight: 600;
    display: block;
    margin: 0 auto;
}

.register-link {
  flex: 1;
  color: #231F12;
  font-size: 18px;
  max-width: 500px;
}

.register-link h1 {
  font-size: 48px;
  margin-bottom: 12px;
}

.register-link p {
    font-size: 16px;
}

.register-link a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

.loginWith {
    color: #D5BC90;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D5BC90;
  color: #231F12;
  padding: 12px 40px;
  font-size: 14px;
}

.version {
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 11.5vw;
}

.authors {
  font-size: 1rem;
  margin-right: 11.5vw;
}
