* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffe5ba;
  justify-content: space-between;
}

header {
  background-color: #D5BC90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 16px;
  color: #231F12;
}

.return {
  color: #231F12;
  text-decoration: none;
}

.return:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  flex: 1;
}

.welcome-text {
  flex: 1;
  color: #231F12;
  font-size: 18px;
  max-width: 500px;
}

.welcome-text h1 {
  font-size: 48px;
  margin-bottom: 12px;
}

.welcome-text p {
  font-size: 16px;
  color: #231F12;
}

.wrapper {
  width: 504px;
  background: #231F12;
  color: #FFE5BA;
  border-radius: 16px;
  padding: 30px 40px;
  margin-left: 60px;
}

.wrapper h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  height: 48px;
  background: #D5BC90;
  border: none;
  outline: none;
  border-radius: 16px;
  font-size: 16px;
  color: #231F12;
  padding: 0 20px;
}

.input-box input::placeholder {
  color: #231F12;
}

.checkbox-area {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.checkbox-area input {
  accent-color: #D5BC90;
  margin-right: 8px;
}

.btn {
  width: 10rem; /* ~172px */
  height: 2.5rem; /* ~40px */
  background: #FFE5BA;
  border: none;
  outline: none;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 1.75rem; /* ~28px */
  color: #333;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  transition: transform 0.2s ease;
}

.btn:hover{
  transform: scale(1.1);
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D5BC90;
  color: #231F12;
  padding: 12px 40px;
  font-size: 14px;
}

.version {
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 11.5vw;
}

.authors {
  font-size: 1rem;
  margin-right: 11.5vw;
}

