* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

body {
  background: #FFE5BA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #D5BC90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 16px;
  color: #231F12;
  z-index: 1;
  position: relative;
}

@media (max-width: 768px) {
  .image-wrapper {
    margin-top: -40px;
    margin-bottom: -40px;
    max-width: 90vw;
  }

  .introducing h1 {
    font-size: 2.5rem;
  }

  .introducing p {
    font-size: 1.2rem;
  }

  .introducing .btn {
    width: 100%;
    font-size: 1.2rem;
  }
}

.login {
  color: #231F12;
  text-decoration: none;
}

.login:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 4rem;
}

.introducing {
  flex: 1;
  color: #231F12;
  font-size: 18px;
  max-width: 500px;
  padding-top: center;
}

.introducing h1 {
  font-size: 4rem;
  margin-bottom: 12px;
}

.introducing p {
  font-size: 2rem;
  padding-bottom: 34px;
}

.introducing .btn {
  width: 10rem; /* ~172px */
  height: 2.5rem; /* ~40px */
  background: #231F12;
  border: none;
  outline: none;
  border-radius: 16px;
  box-shadow: #FFE5BA;
  cursor: pointer;
  font-size: 1.75rem; /* ~28px */
  color: #FFE5BA;
  font-weight: 600;
  display: block;
  font-size: auto;
  transition: transform 0.2s ease;
}

.introducing .btn:hover {
  transform: scale(1.1);
}

.image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  z-index: 2;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: contain;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D5BC90;
  color: #231F12;
  padding: 12px 40px;
  font-size: 14px;
}

.version {
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 11.5vw;
}

.authors {
  font-size: 1rem;
  margin-right: 11.5vw;
}

header, footer {
  position: relative;
  z-index: 1; /* atrás da imagem */
}