<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id="app">
    <h1>Welcome to the Dashboard</h1>
    <p v-if="user">Hello, [[ user.first_name ]] [[ user.last_name ]]!</p>
    <p v-else>Redirecting to login...</p>
    <button @click="logout">Logout</button>
  </div>
  <script>
    const userFromServer = {{ user | tojson }};
    localStorage.setItem("user", JSON.stringify(userFromServer));
  </script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="{{ url_for('static', filename='js/userDashboard.js') }}"></script>
</body>
</html>

